micronaut:
  application:
    name: pushKb
  router:
    static-resources:
      swagger:
        enabled: true
        paths: classpath:META-INF/swagger
        mapping: /openapi/**
      swagger-ui:
        enabled: true
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /openapi/ui/**
      redoc:
        paths: classpath:META-INF/swagger/views/redoc
        mapping: /openapi/redoc/**
  security:
    authentication: idtoken
    token:
      jwt:
        enabled: true
        signatures.jwks.keycloak:
          url: ${KEYCLOAK_CERT_URL:""}
    intercept-url-map:
      - pattern: "/openapi/**"
        access:
          - isAnonymous()
  data:
    pageable:
      max-page-size: 1000
flyway:
  enabled: true
  datasources:
    default:
      enabled: true
      out-of-order: true
      # locations:
      #   - classpath:db/migrations
      # default-schema: r2dbc-poc
      # url: ${DB_URL:`r2dbc:postgresql://localhost:5432/postgres`}
      # username: ${DB_USER:`postgres`}
      # password: ${DB_PASSWORD:`pass`}
db:
  host: localhost
  port: 5432