micronaut:
  netty:
    event-loops:
      other:
        num-threads: 10
        prefer-native-transport: true
  http:
    client:
      event-loop-group: other
      read-timeout: 30
      max-content-length: 2147483647 # This strikes me as a bit dangerous, but 10MB causes issues from GOKB for some reason

  server:
    port: 8060
  application:
    name: pushKb
    #jvm: ## These seem to do nothing
    #  options:
    #    -Xms512m
    #    -Xmx2g
  #router:
  #  static-resources:
  #    swagger:
  #      enabled: true
  #      paths: classpath:META-INF/swagger
  #      mapping: /openapi/**
  #    swagger-ui:
  #      enabled: true
  #      paths: classpath:META-INF/swagger/views/swagger-ui
  #      mapping: /openapi/ui/**
  #    redoc:
  #      paths: classpath:META-INF/swagger/views/redoc
  #      mapping: /openapi/redoc/**
  data:
    pageable:
      max-page-size: 1000
  security:
    enabled: true
    oauth2:
      enabled: true
      clients:
        keycloak:
          client-id: '${OUTH_CLIENT_ID:pushKB}'
          client-secret: '${OAUTH_CLIENT_SECRET:84WWKbVMpQzVHsYCmduDRDH3978nMOwb}' # This is the secret for the 'pushKB' client in the PushKB realm set up in "infrastructure"
          openid:
            issuer: '${OIDC_ISSUER_DOMAIN:`http://localhost:8088`}/realms/${KEYCLOAK_REALM:PushKB}'

db:
  host: localhost
  port: 6543
  database: pushkb
  username: pushkb
  password: pushkb


endpoints:
  prometheus:
    sensitive: false
  health:
    enabled: true
    sensitive: false # non-secured endpoint
    details-visible: ANONYMOUS # show details for everyone
    ingest:
      enabled: true
  info:
    enabled: true
    sensitive: false
