<configuration>
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./logs/pushkb-${bySecond}.log</file>

    <encoder>
			<pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

	<logger name="com.k_int.pushKb" level="DEBUG"/>

	<!-- TODO These can be pretty noisy, we will eventually want to tone these down -->
	<logger name="com.k_int.taskscheduler" level="DEBUG"/>

	<!-- SQL - uncomment for very verbose logs -->
	<!--
		<logger name="io.micronaut.data.query" level="TRACE"/>
	-->

	<!-- flyway -->
	<logger name="org.flywaydb" level="WARN"/>
	<logger name="org.flyway" level="WARN"/>
	<logger name="io.micronaut.flyway" level="WARN"/>

	<root level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>
