name: gradlew-build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - uses: gradle/actions/setup-gradle@v5
    - run: ./gradlew build
